// base template styling

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$base-color: #000;

body {
	@include box-sizing(border-box);
	margin: 2em;
	font-size: 62.5%;
	color: $base-color;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Open Sans', sans-serif;
}

header {
	margin: 0 0 2em;
	padding: 0 0 1.5em;
	border-bottom: 1px solid lighten($base-color, 80%);

	.title {
		margin: 0;
		font-size: 3.2em;
		line-height: 1em;
		font-weight: normal;
		color: lighten($base-color, 65%);
	}

	.client {
		margin: 0.5em 0;
		font-size: 1.2em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}

.container {
	overflow: hidden;
}

// generic base styling for tiles to provide a neutral starting point

.tile-wrap {
	clear: both;
	float: left;
	width: auto;
	padding: 1.5em 1em;
	margin-bottom: 2em;
	border: 1px solid lighten($base-color, 80%);
	@include border-radius(4px);
	&:nth-child(2n) {
		clear: none;
	}

	h1 {
		margin: 0 0 0.25em;
		line-height: 1em;
	}

	h2, h3 {
		margin: 1em 0 0.25em;
		line-height: 1em;
	}

	.image {
		float: right;
		margin: 1em 0 1em 1em;
		width: 100%;
	}

	p { margin: 1em 0 0.25em; }

	small {
		display: block;
		font-size: 1.1em;
		color: lighten($base-color, 50%);
	}

	.colors {
		margin: 0 0 1em;
		padding: 0 0 5px 5px;
		list-style-type: none;
		overflow: hidden;

		li {
			display: inline;
			float: left;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			width: 50px;
			height: 50px;
			margin: 1em 15px 0.5em 0;
			background-color: lighten($base-color, 80%);
			@include box-shadow(0 0 0 3px #fff, 0 0 0 4px lighten($base-color, 80%), 3px 3px 4px 3px lighten($base-color, 70%));
		}
	}

	.form-elements {
		width: 75%;

		fieldset {
			padding: 1em;
			@include border-radius(4px);
		}

		legend {
			padding: 0 0.5em;
			font-size: 1.2em;
		}

		label, input, textarea {
			clear: left;
			float: left;
			margin-bottom: 0.5em;
			font-size: 1.2em;
		}

		input, textarea {
			width: 75%;
		}

		input[type="submit"] {
			display: inline-block;
			margin-top: 0.5em;
			width: auto;
		}

	}

}

@media only screen and (min-width: 28em) {

.tile-wrap {
	.image {
		margin: 1em 0 1.75em 1.75em;
		width: 50%;
		max-width: 250px;
	}
}

}

@media only screen and (min-width: 48em) {

.tile-wrap {
	width: 46%;
	&:nth-of-type(2n) {
		margin-left: 1%;
	}
}

}

@media only screen and (min-width: 61.25em) {

.container {
	max-width: 1300px;
}

.tile-wrap {
	width: 47%;
	max-width: 650px;
	.image {
		width: 40%;
		max-width: 275px;
	}
}

}
